In [70]:
import pandas as pd
import numpy as np

In [71]:
from etl import extract as x

In [72]:
input_path = 'data/in/lotteria.html'
df = x.get_df_from_html(new_var)

In [73]:
df[df.Numero.isna()]

     Categoria Serie Numero                         Luogo Prov  Premio
52           3     L    NaN                        RIMINI   RN   50000
53           3     S    NaN                        NAPOLI   NA   50000
54           3     N    NaN                   BENTIVOGLIO   BO   50000
55           3     T    NaN                      GIUSSANO   MB   50000
56           3     M    NaN                       PALERMO   PA   50000
..         ...   ...    ...                           ...  ...     ...
275          4     N    NaN                        TORINO   TO   20000
276          4     M    NaN      DISTRIBUTORE LOCALE ROMA   RM   20000
277          4     T    NaN                          ROMA   RM   20000
278          4     Q    NaN                      BAGHERIA   PA   20000
279          4     P    NaN  DISTRIBUTORE LOCALE MONDOLFO   PU   20000

[205 rows x 6 columns]

In [74]:
tables = pd.read_html(input_path)
tables

[       0       1         2      3          4
 0  Serie  Numero  Località  Prov.     Premio
 1      T  173756  Somaglia     LO  5.000.000
 2      T  378442    Pesaro     PU  2.500.000
 3      G  330068   Palermo     PA  2.000.000
 4      G  173817    Torino     TO  1.500.000
 5      S  185025      Dolo     VE  1.000.000,
      0                  1                  2                                               3                  4   5
 0  NaN  SECONDA CATEGORIA  SECONDA CATEGORIA                               SECONDA CATEGORIA  SECONDA CATEGORIA NaN
 1  NaN              Serie          Biglietto                                       Venduto a             Premio NaN
 2  NaN                  S             030585  DISTRIBUTORE LOCALE MONTENERO DI BISACCIA (CB)            100.000 NaN
 3  NaN                  C             439458                                   AVELLINO (AV)            100.000 NaN
 4  NaN                  M             217442                                   MASSAFRA (TA)            100.000 NaN
 5  NaN                  D             138065                                    FOLIGNO (PG)            100.000 NaN
 6  NaN                  M             442388                                    BELLUNO (BL)            100.000 NaN
 7  NaN                  Q             330398                                     FOGGIA (FG)            100.000 NaN
 8  NaN                  L             320913                                     ISPICA (RG)            100.000 NaN
 9  NaN                  D             052288       DISTRIBUTORE LOCALE GREVE IN CHIANTI (FI)            100.000 NaN
 10 NaN                  I             265285                                       ROMA (RM)            100.000 NaN
 11 NaN                  B             431066                                     SPINEA (VE)            100.000 NaN
 12 NaN                  B             475642                                     OMEGNA (VB)            100.000 NaN
 13 NaN                  I             479949                              MONTEPULCIANO (SI)            100.000 NaN
 14 NaN                  I             336915                                      IVREA (TO)            100.000 NaN
 15 NaN                  E             322777                                 BORGOSESIA (VC)            100.000 NaN
 16 NaN                  I             336889                                 VALMADRERA (LC)            100.000 NaN
 17 NaN                  Q             311109                                  VIDIGULFO (PV)            100.000 NaN
 18 NaN                  O             115657                                     CERVIA (RA)            100.000 NaN
 19 NaN                  I             459455                                   SORRENTO (NA)            100.000 NaN
 20 NaN                  N             336716                             RAPOLANO TERME (SI)            100.000 NaN
 21 NaN                  B             357353                                     MILANO (MI)            100.000 NaN
 22 NaN                  F             174624                                   SOLAROLO (BO)            100.000 NaN
 23 NaN                  M             051648              DISTRIBUTORE LOCALE BISCEGLIE (BT)            100.000 NaN
 24 NaN                  I             319235                                       ROMA (RM)            100.000 NaN
 25 NaN                  D             381854                             LASTRA A SIGNA (FI)            100.000 NaN,
      0                1                2                                          3                4   5
 0  NaN                I           050919          DISTRIBUTORE LOCALE CIAMPINO (RM)          100.000 NaN
 1  NaN  TERZA CATEGORIA  TERZA CATEGORIA                            TERZA CATEGORIA  TERZA CATEGORIA NaN
 2  NaN            Serie        Biglietto                                  Venduto a           Premio NaN
 3  NaN                A           151684  DISTRIBUTORE LOCALE SESTO FIORENTINO (FI)           50.000 NaN
 4  NaN                C           044674         DISTRIBUTORE LOCALE FROSINONE (FR)           50.000 NaN
 5  NaN                T           196683                                MILANO (MI)           50.000 NaN
 6  NaN                D           474835                               CATANIA (CT)           50.000 NaN
 7  NaN               AA           244340                         RIVENDITORE ONLINE           50.000 NaN
 8  NaN                P           166756                             CIGOGNOLA (PV)           50.000 NaN
 9  NaN                S           224728                                MILANO (MI)           50.000 NaN
 10 NaN                R           480926                     MONTERONI D ARBIA (SI)           50.000 NaN
 11 NaN                S           182139                            MONFALCONE (GO)           50.000 NaN
 12 NaN                T           150085                        ORTA DI ATELLA (CE)           50.000 NaN
 13 NaN                D           119183                               BOLOGNA (BO)           50.000 NaN
 14 NaN                A           467555                                MODENA (MO)           50.000 NaN
 15 NaN                L           086138              DISTRIBUTORE LOCALE ROMA (RM)           50.000 NaN
 16 NaN                R           225972                                AREZZO (AR)           50.000 NaN
 17 NaN                M           114512                      SETTIMO TORINESE (TO)           50.000 NaN
 18 NaN                E           416029                                MILANO (MI)           50.000 NaN
 19 NaN                A           130487           DISTRIBUTORE LOCALE ORVIETO (TR)           50.000 NaN
 20 NaN                L           012086      DISTRIBUTORE LOCALE LACCHIARELLA (MI)           50.000 NaN
 21 NaN                M           325035                              TERLIZZI (BA)           50.000 NaN
 22 NaN                G           115853                                  ROMA (RM)           50.000 NaN
 23 NaN                B           044418           DISTRIBUTORE LOCALE BERCETO (PR)           50.000 NaN
 24 NaN                D           400957                   GALLICANO NEL LAZIO (RM)           50.000 NaN,
      0   1       2                                               3     4   5
 0  NaN   L  317618                                     RIMINI (RN)  50.0 NaN
 1  NaN   S  168154                                     NAPOLI (NA)  50.0 NaN
 2  NaN   N  107783                                BENTIVOGLIO (BO)  50.0 NaN
 3  NaN   T  111407                                   GIUSSANO (MB)  50.0 NaN
 4  NaN   M  331007                                    PALERMO (PA)  50.0 NaN
 5  NaN   O  204982                                    MANTOVA (MN)  50.0 NaN
 6  NaN   M  334431                        CASALECCHIO DI RENO (BO)  50.0 NaN
 7  NaN  AA  332493                              RIVENDITORE ONLINE  50.0 NaN
 8  NaN   R  396533                           LONATO DEL GARDA (BS)  50.0 NaN
 9  NaN   I  309460                                     MILANO (MI)  50.0 NaN
 10 NaN   B  489578                                      LECCO (LC)  50.0 NaN
 11 NaN   Q  144614                                 OSIO SOPRA (BG)  50.0 NaN
 12 NaN   C  429417                                     QUARTO (NA)  50.0 NaN
 13 NaN   I   45735                                     ODERZO (TV)  50.0 NaN
 14 NaN   F  422767                                    FIRENZE (FI)  50.0 NaN
 15 NaN   A  153253  DISTRIBUTORE LOCALE ACQUAVIVA DELLE FONTI (BA)  50.0 NaN
 16 NaN   L  428347                        VILLAFRANCA TIRRENA (ME)  50.0 NaN
 17 NaN   E   32176                 DISTRIBUTORE LOCALE ANDRIA (BT)  50.0 NaN
 18 NaN   M  325384                                    SCAFATI (SA)  50.0 NaN
 19 NaN   E  290218                                      IMOLA (BO)  50.0 NaN
 20 NaN   M  308922                                    PERUGIA (PG)  50.0 NaN
 21 NaN   S  216034                                     ANAGNI (FR)  50.0 NaN
 22 NaN   N  221932                      SAN GIORGIO A CREMANO (NA)  50.0 NaN
 23 NaN   D  192247                                     BARILE (PZ)  50.0 NaN
 24 NaN   T  151126                                  MILLESIMO (SV)  50.0 NaN,
      0                 1                 2                                   3                 4   5
 0  NaN                 C            375767                         POMPEI (NA)            50.000 NaN
 1  NaN                 P            319570                           MORI (TN)            50.000 NaN
 2  NaN                 A            472983                      FUCECCHIO (FI)            50.000 NaN
 3  NaN  QUARTA CATEGORIA  QUARTA CATEGORIA                    QUARTA CATEGORIA  QUARTA CATEGORIA NaN
 4  NaN             Serie         Biglietto                           Venduto a            Premio NaN
 5  NaN                 P            393145             CORIGLIANO ROSSANO (CS)            20.000 NaN
 6  NaN                 B            341438                         GENOVA (GE)            20.000 NaN
 7  NaN                 R            385148                  PIETRAVAIRANO (CE)            20.000 NaN
 8  NaN                 N            467188                         GENOVA (GE)            20.000 NaN
 9  NaN                 D            206837                          SOAVE (VR)            20.000 NaN
 10 NaN                 T            064967            PIEVE SANTO STEFANO (AR)            20.000 NaN
 11 NaN                 Q            300683                TORRE DEL GRECO (NA)            20.000 NaN
 12 NaN                 B            023643  DISTRIBUTORE LOCALE VECCHIANO (PI)            20.000 NaN
 13 NaN                 N            352312                           ROMA (RM)            20.000 NaN
 14 NaN                 A            225423                        SASSARI (SS)            20.000 NaN
 15 NaN                 I            007690       DISTRIBUTORE LOCALE ROMA (RM)            20.000 NaN
 16 NaN                 C            120643                       CRISPANO (NA)            20.000 NaN
 17 NaN                 F            105193                      ALLUMIERE (RM)            20.000 NaN
 18 NaN                 I            117108                       GALATINA (LE)            20.000 NaN
 19 NaN                 B            429461                        FIRENZE (FI)            20.000 NaN
 20 NaN                 T            194134            CIVITELLA D'AGLIANO (VT)            20.000 NaN
 21 NaN                 A            187499  DISTRIBUTORE LOCALE TORTORETO (TE)            20.000 NaN
 22 NaN                 I            424436             SESTO SAN GIOVANNI (MI)            20.000 NaN
 23 NaN                 N            164641                         VAREDO (MB)            20.000 NaN
 24 NaN                 T            478774                         TORINO (TO)            20.000 NaN,
      0   1       2                                          3     4   5
 0  NaN   M  355049                                TORINO (TO)  20.0 NaN
 1  NaN   L  439043                              RICCIONE (RN)  20.0 NaN
 2  NaN   G  178758                          BASTIA UMBRA (PG)  20.0 NaN
 3  NaN   I  163257                               ORVIETO (TR)  20.0 NaN
 4  NaN   E  444488                 ACQUAVIVA DELLE FONTI (BA)  20.0 NaN
 5  NaN   T  221203                                 DESIO (MB)  20.0 NaN
 6  NaN   M  222526                               FERRARA (FE)  20.0 NaN
 7  NaN   S  456187                                 VASTO (CH)  20.0 NaN
 8  NaN   O   39680              DISTRIBUTORE LOCALE ROMA (RM)  20.0 NaN
 9  NaN   G   42116                               CATANIA (CT)  20.0 NaN
 10 NaN   A  205419                                 TEANO (CE)  20.0 NaN
 11 NaN   D  459766                                MILANO (MI)  20.0 NaN
 12 NaN   Q   17327             DISTRIBUTORE LOCALE FABRO (TR)  20.0 NaN
 13 NaN   B   28105  DISTRIBUTORE LOCALE POLIGNANO A MARE (BA)  20.0 NaN
 14 NaN   F  171310                                NOVARA (NO)  20.0 NaN
 15 NaN   R  427000                            VALMONTONE (RM)  20.0 NaN
 16 NaN   Q  304862                                  ROMA (RM)  20.0 NaN
 17 NaN   E  176146                         VIBO VALENTIA (VV)  20.0 NaN
 18 NaN   O  404522                            PALESTRINA (RM)  20.0 NaN
 19 NaN   R  213333                                ODERZO (TV)  20.0 NaN
 20 NaN   I  114969                             SCISCIANO (NA)  20.0 NaN
 21 NaN   F  145263                          NOCERA UMBRA (PG)  20.0 NaN
 22 NaN   N  380966                               BOLOGNA (BO)  20.0 NaN
 23 NaN   C  159069                                RIMINI (RN)  20.0 NaN
 24 NaN  AA  146053                         RIVENDITORE ONLINE  20.0 NaN,
      0  1       2                              3     4   5
 0  NaN  E  274925       CAMPIGLIA MARITTIMA (LI)  20.0 NaN
 1  NaN  G  201898                     TERNI (TR)  20.0 NaN
 2  NaN  G  282916                  SIRACUSA (SR)  20.0 NaN
 3  NaN  I  264286                   LAVELLO (PZ)  20.0 NaN
 4  NaN  O  460171                     CIRIÈ (TO)  20.0 NaN
 5  NaN  T  150563                  TAORMINA (ME)  20.0 NaN
 6  NaN  T  218243        CASTIONE ANDEVENNO (SO)  20.0 NaN
 7  NaN  S  346327                CESENATICO (FC)  20.0 NaN
 8  NaN  P  191303            SALA CONSILINA (SA)  20.0 NaN
 9  NaN  L  244752            CAMPI BISENZIO (FI)  20.0 NaN
 10 NaN  P  279098                    MERANO (BZ)  20.0 NaN
 11 NaN  E  473454                    NUMANA (AN)  20.0 NaN
 12 NaN  I  394717                   CORMANO (MI)  20.0 NaN
 13 NaN  E  464891               CASTELFORTE (LT)  20.0 NaN
 14 NaN  R  124888                   MILAZZO (ME)  20.0 NaN
 15 NaN  T  336904       GUIDONIA MONTECELIO (RM)  20.0 NaN
 16 NaN  R  211535                      ROMA (RM)  20.0 NaN
 17 NaN  D  223036                      ROMA (RM)  20.0 NaN
 18 NaN  O  244511             CIVITAVECCHIA (RM)  20.0 NaN
 19 NaN  U  195814          BAGNOLO CREMASCO (CR)  20.0 NaN
 20 NaN  D   11121  DISTRIBUTORE LOCALE ROMA (RM)  20.0 NaN
 21 NaN  R  376119                    MILANO (MI)  20.0 NaN
 22 NaN  P  203433                     MASSA (MS)  20.0 NaN
 23 NaN  C  121414                  PIOMBINO (LI)  20.0 NaN
 24 NaN  R   12826  DISTRIBUTORE LOCALE ROMA (RM)  20.0 NaN,
      0  1       2                                                  3     4   5
 0  NaN  R  296645                             SAN VITTORE OLONA (MI)  20.0 NaN
 1  NaN  T  293112                                        MILANO (MI)  20.0 NaN
 2  NaN  P   29328       DISTRIBUTORE LOCALE CASTELNUOVO SCRIVIA (AL)  20.0 NaN
 3  NaN  Q  290327                                        CESENA (FC)  20.0 NaN
 4  NaN  I  408441                                          DOLO (VE)  20.0 NaN
 5  NaN  M  288367                                       CATANIA (CT)  20.0 NaN
 6  NaN  C  457303                                          ROMA (RM)  20.0 NaN
 7  NaN  B   15936                      DISTRIBUTORE LOCALE ROMA (RM)  20.0 NaN
 8  NaN  O  334326                                     COMACCHIO (FE)  20.0 NaN
 9  NaN  A   99000                                     ALTOFONTE (PA)  20.0 NaN
 10 NaN  Q  268826                                       SIMAXIS (OR)  20.0 NaN
 11 NaN  I  159032                                        ANAGNI (FR)  20.0 NaN
 12 NaN  O  325399                                         GIOVE (TR)  20.0 NaN
 13 NaN  A  175078          DISTRIBUTORE LOCALE MISANO ADRIATICO (RN)  20.0 NaN
 14 NaN  R  371110                                       OLEGGIO (NO)  20.0 NaN
 15 NaN  G  135911                                        MILANO (MI)  20.0 NaN
 16 NaN  A  107166  DISTRIBUTORE LOCALE SANTARCANGELO DI ROMAGNA (RN)  20.0 NaN
 17 NaN  Q  491433                                       PALERMO (PA)  20.0 NaN
 18 NaN  L  245768                                      VIGEVANO (PV)  20.0 NaN
 19 NaN  D  451539                                      BARLETTA (BT)  20.0 NaN
 20 NaN  D  447435                                  ZOLA PREDOSA (BO)  20.0 NaN
 21 NaN  O   91106                   DISTRIBUTORE LOCALE LEGNANO (MI)  20.0 NaN
 22 NaN  N  151682                                          AFFI (VR)  20.0 NaN
 23 NaN  M  246170                                   CASTROCIELO (FR)  20.0 NaN
 24 NaN  O   26883                    DISTRIBUTORE LOCALE GONARS (UD)  20.0 NaN,
      0   1       2                                               3     4   5
 0  NaN   R    7176         DISTRIBUTORE LOCALE CASTEL RITALDI (PG)  20.0 NaN
 1  NaN   A  236045                      VILLAFRANCA DI VERONA (VR)  20.0 NaN
 2  NaN   N   79072               DISTRIBUTORE LOCALE AVELLINO (AV)  20.0 NaN
 3  NaN   O  283380                           PONTE NELLE ALPI (BL)  20.0 NaN
 4  NaN   A  252754                                     MILANO (MI)  20.0 NaN
 5  NaN   Q  401091                                      LUCCA (LU)  20.0 NaN
 6  NaN   O  389452                                  BOTTICINO (BS)  20.0 NaN
 7  NaN   B  416543                                   BARLETTA (BT)  20.0 NaN
 8  NaN   I   72524                                     GENOVA (GE)  20.0 NaN
 9  NaN   M  272767                                    VITERBO (VT)  20.0 NaN
 10 NaN   O  443024                                     PADOVA (PD)  20.0 NaN
 11 NaN   T  342085                                       ROMA (RM)  20.0 NaN
 12 NaN   S  292840                                    VITERBO (VT)  20.0 NaN
 13 NaN   A  121181       DISTRIBUTORE LOCALE SESTO FIORENTINO (FI)  20.0 NaN
 14 NaN   A   38275                          CASTIGLIONE OLONA (VA)  20.0 NaN
 15 NaN   D  463722                                  COMACCHIO (FE)  20.0 NaN
 16 NaN   P  450622                                     MODENA (MO)  20.0 NaN
 17 NaN   M  491435                                     LICATA (AG)  20.0 NaN
 18 NaN   Q    4168  DISTRIBUTORE LOCALE SAN GIOVANNI VALDARNO (AR)  20.0 NaN
 19 NaN  AA  236741                              RIVENDITORE ONLINE  20.0 NaN
 20 NaN   C  423571                                    CASORIA (NA)  20.0 NaN
 21 NaN   E  320015                                     ANAGNI (FR)  20.0 NaN
 22 NaN   L  297051                               LEVICO TERME (TN)  20.0 NaN
 23 NaN   G   29002                   DISTRIBUTORE LOCALE ROMA (RM)  20.0 NaN
 24 NaN   E  463331                                    TARANTO (TA)  20.0 NaN,
      0   1       2                                3     4   5
 0  NaN   F  447517                       CURTI (CE)  20.0 NaN
 1  NaN   A  367279      SAN MARTINO SICCOMARIO (PV)  20.0 NaN
 2  NaN   L  258958                    CIGLIANO (VC)  20.0 NaN
 3  NaN  AA   32180               RIVENDITORE ONLINE  20.0 NaN
 4  NaN   Q  410348                      ALVITO (FR)  20.0 NaN
 5  NaN   R   35753                     SEGRATE (MI)  20.0 NaN
 6  NaN   I  485883                     VENEZIA (VE)  20.0 NaN
 7  NaN   O  423504       CERNUSCO SUL NAVIGLIO (MI)  20.0 NaN
 8  NaN   S  293307                     FAGAGNA (UD)  20.0 NaN
 9  NaN   D  120946                        BARI (BA)  20.0 NaN
 10 NaN   L  176197        ROSETO DEGLI ABRUZZI (TE)  20.0 NaN
 11 NaN   B  331751          TORRICELLA VERZATE (PV)  20.0 NaN
 12 NaN   F  220576                      GENOVA (GE)  20.0 NaN
 13 NaN   A  320999    SAN SALVATORE DI FITALIA (ME)  20.0 NaN
 14 NaN   B  212865                        ROMA (RM)  20.0 NaN
 15 NaN   U    1334    DISTRIBUTORE LOCALE ROMA (RM)  20.0 NaN
 16 NaN   P  185330  CIVITELLA IN VAL DI CHIANA (AR)  20.0 NaN
 17 NaN   L  278239                   LUCIGNANO (AR)  20.0 NaN
 18 NaN   B  388039           CALVI DELL UMBRIA (TR)  20.0 NaN
 19 NaN   G  348990                       TERNI (TR)  20.0 NaN
 20 NaN   G  284386                      GUBBIO (PG)  20.0 NaN
 21 NaN   G  151078                  RONDISSONE (TO)  20.0 NaN

In [75]:
tbl1 = tables[0]
col_names = tbl1.iloc[0]                        # no Categoria
cat1 = x.process_cat1(tbl1, col_names)
cat1

0  Categoria Serie  Numero  Località Prov.   Premio
1          1     T  173756  Somaglia    LO  5000000
2          1     T  378442    Pesaro    PU  2500000
3          1     G  330068   Palermo    PA  2000000
4          1     G  173817    Torino    TO  1500000
5          1     S  185025      Dolo    VE  1000000

# OK

In [76]:
x.drop_all_nan_cols(tables)

In [77]:
rows = x.parse_tables(tables)

# create_newdf

In [78]:
newdf = pd.DataFrame(                                       # create dataframe from rows
                rows, 
                columns=[
                    'Categoria', 
                    'Serie', 
                    'Numero', 
                    'Località', 
                    'Premio'
                ]
)

## newdf.Numero ok

In [79]:
newdf.Numero.isna().any()

np.False_

In [80]:
newdf.insert(                                               # insert prov column
            4, 
            'Prov.', 
            newdf['Località'].str.extract(r'\((.*)\)')      # extract (PROV) from location (regex)
)

In [81]:
newdf['Località'] = newdf['Località'].apply(                # remove (PROV) from location
                    lambda x: x.split('(')[0]
)

In [82]:
newdf['Premio'] = newdf['Premio'].astype('str')             # convert premio to str

In [83]:
newdf['Premio'] = newdf.Premio.apply(                       # fix zeroes
                    lambda x: x + '00' 
                    if x.endswith('.0') 
                    else x
)

In [84]:
newdf.Premio = (                                            # convert premio to int
            newdf.Premio.str.replace('.', '')
            .astype('int')
)

In [85]:
cat1.head()

0  Categoria Serie  Numero  Località Prov.   Premio
1          1     T  173756  Somaglia    LO  5000000
2          1     T  378442    Pesaro    PU  2500000
3          1     G  330068   Palermo    PA  2000000
4          1     G  173817    Torino    TO  1500000
5          1     S  185025      Dolo    VE  1000000

In [86]:
newdf.head()

   Categoria Serie  Numero                                    Località Prov.  Premio
0          2     S  030585  DISTRIBUTORE LOCALE MONTENERO DI BISACCIA     CB  100000
1          2     C  439458                                   AVELLINO     AV  100000
2          2     M  217442                                   MASSAFRA     TA  100000
3          2     D  138065                                    FOLIGNO     PG  100000
4          2     M  442388                                    BELLUNO     BL  100000

# OK

In [87]:
winners = pd.concat([cat1, newdf]).reset_index(drop=True)

In [88]:
winners = winners.reset_index(drop=True)

In [89]:
winners = winners.rename(columns={
    'Prov.':'Prov',
    'Località': 'Luogo'
})

# PROBLEM

In [93]:
winners.Numero.isna().value_counts()

Numero
False    280
Name: count, dtype: int64

# FIXED

In [115]:
for col in ['Serie', 'Numero', 'Luogo', 'Prov']:
    winners[col] = winners[col].astype('str').str.upper().str.rstrip()